body {
    margin: 20px;
    width: 488px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.avatar {
    width: 150px;
    border: 16px outset #84a59d;
    
}

.card {
    -webkit-box-shadow: 5px 5px 15px 5px #84a59d; 
    box-shadow: 5px 5px 15px 5px #84a59d;
    background: url("bg.jpeg")no-repeat ;
    width: 450px;
    height: 175px;
    margin: 0 auto;
    padding: 20px 20px 10px 1px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    border-bottom: 27px double #f6bd60;
    border-left: 27px dotted #F28482; 
    text-shadow: 1px 2px 2px #84a59d;   
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.text {
    padding-top: 25px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
